<div class="row">
	<div class="twelve columns">
	<h1>All feats</h1>
	<div class="allFeats">
	 <% @feats.each do |feat| %>
	    <%= link_to(feat) do %>
	      <div class="panel">
	        <div class="row">
	          <div class="two columns">
	            <img src="http://placehold.it/100x100&text=[img]" />
	          </div>
	          <div class="ten columns">
	            <h4><%= feat.name %> </h4>
	            <h5 class="subheader"> <%= feat.description %></h5>
	          </div>
	        </div>
	      </div>
	      <% end %>
	    <% end %>
	  </div>
</div>
</div>
