<div id="banner">
  <div class="row">
    <div class="three columns"></div>
    <div class="two columns">
      <img class="logo" src="/assets/git-feats_logo.png"/>
    </div>
    <div class="seven columns">
      <h1>Git-Feats</h1>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <center><h4>Achievements from the command line</h4></center>
    </div>
  </div>
  <div class="row">
    <div class="three columns centered">
      <%= link_to "Get Started", login_path, :class => "large button radius" %>
    </div>
  </div>
</div>

<div id="social-buttons" class="row">
  <div class="five columns centered">
    <center>
    <ul id="social-buttons-list">
      <li>
        <iframe class="center" src="http://ghbtns.com/github-btn.html?user=cknadler&repo=gitfeats.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="107" height="20"></iframe>
      </li>
      <li>
        <iframe class="center" src="http://ghbtns.com/github-btn.html?user=cknadler&repo=gitfeats.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="107" height="20"></iframe>
      </li>
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://gitfeats.com" data-text="Command line git achievements" data-via="cknadler">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
    </ul>
    <hr />
    </center>
  </div>
</div>


<!-- Three Column Images -->
<div id="main-description" class="row">
  <div class="four columns">
    <center>
      <img src="/assets/gem.png"/>
      <h4>Install</h4>
    </center>
    <div class="row">
      <div class="twelve columns">
        <p>Get started in three steps. Install a gem, alias git and keep working. What are you waiting for? <%= link_to "Sign in", login_path %> and get going!</p>
      </div>
    </div>
  </div>

  <div class="four columns">
    <center>
      <img src="/assets/feat.png"/>
      <h4>Complete Feats</h4>
    </center>
    <div class="row">
      <div class="twelve columns">
        <p>Complete Feats with git on the command line and see them on your profile instantly. There are over forty feats spanning over dozens of git commands.</p>
      </div>
    </div>
  </div>

  <div class="four columns">
    <center>
      <img src="/assets/love.png"/>
      <h4>Fall In Love</h4>
    </center>
    <div class="row">
      <div class="twelve columns">
        <p>Share feats, track your git command usage, find friends, view global stats and remember, git-feats loves you...</p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="twelve columns">
    <hr />
  </div>
</div>


<!-- Get Involved -->

<div id="get-involved" class="row">
  <div class="twelve columns">
    <div class="row">

      <div class="eight columns">
        <div class="panel radius">

        <div class="row">
        <div class="six mobile-two columns">
          <h4>Open Source</h4>
          <hr/>
          <h5 class="subheader">Git Feats is absolutely, positively, 100% open source, and always will be</h5>
        </div>

        <div class="six mobile-two columns">
          <p>All of the Git Feats site and, its partner in crime, the git-feats gem are hosted on github. Feel free to make issues, request features, hack on the project, or just chat with us. If you send us a pull request we might just love you forever.</p>
          <p><3 <3 <3 <3</p>
        </div>

      </div>
      </div>
      </div>

      <div class="four columns hide-for-small">
        <center><h4>Get Involved!</h4></center>

        <hr />

        <a href="https://github.com/cknadler/gitfeats.com">
        <div class="panel radius callout" align="center">
          <strong>Site on Github</strong>
        </div>
        </a>

        <a href="https://github.com/cknadler/git-feats">
        <div class="panel radius callout" align="center">
          <strong>Gem on Github</strong>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
