<header id="homepage">
    <div class="row">
      <div class="two columns"></div>
      <div class="two columns">
        <img src="/assets/git-feats_logo.png"/>
      </div>
      <div class="eight columns">
        <h1>Git-Feats</h1>
        <h4>Achievements from the command line</h4>
      </div>
    </div>
    <div class="row">
      <div class="three columns centered">
          <a href="#" class="large button radius">Start Here</a>
      </div>
  </div>
  </header>

<br>
<div class="row">
  <div class="five columns centered">
    <center>
      <iframe src="http://ghbtns.com/github-btn.html?user=cknadler&repo=gitfeats.com&type=watch&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=cknadler&repo=gitfeats.com&type=fork&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
        <hr />
    </center>
  </div>
</div>
<br><br>
  <!-- Second Band (Image Left with Text) -->
  
  <div class="row">

    <div class="four columns">
      <center>
      <img src="/assets/gem.png"/>
      <h4>Install</h4>
       </center>
      <div class="row">
        <div class="twelve columns">
          <p>Just install the gem and add your credentials. Easy as pie...mmm...pie...</p>
        </div>
      </div>
    </div>

    <div class="four columns">
      <center>
      <img src="/assets/feat.png"/>
      <h4>Complete Feats</h4>
    </center>
      <div class="row">
        <div class="twelve columns">
          <p>Complete Feats using git on the command line and see them on your profile instantly</p>
        </div>
      </div>
    </div>

    <div class="four columns">
      <center>
      <img src="/assets/love.png"/>
      <h4>Make Friends</h4>
    </center>
      <div class="row">
        <div class="twelve columns">
          <p>Share feats, checkout out stats and remember...git-feats loves you...</p>
        </div>
      </div>
    </div>

  </div>
  
  
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>