
<div class="row">
  <div class="twelve columns">
    <h1>Let's get set up</h1>
    <h4 class="subheader"> More instructions </h3>
  </div>
</div>

<div class="row">
    <div class="twelve columns">
    
      <div class="panel">
        <h4>Everyone loves a one-liner:</h4>
            
        <div class="row">
          <div class="twelve columns">
                  <input type="text" value="git config --global feats.key dasmoose- && gem install git-feats && echo 'alias git=git-feats' >> .bashrc"/>
          </div>
        </div>
    </div>

      <div class="panel">
        <h4>Or, step by step:</h4>
        <h5>Install the gem</h5>
            
        <div class="row">
          <div class="twelve columns">
            <div class="six mobile-three columns">
                <input type="text" value="gem install git-feats"/>
            </div>
          </div>
        </div>

        <h5>Add your API key</h5>

        <div class="row">
          <div class="twelve columns">
            <div class="six mobile-three columns">
                <input type="text" value="git config --global feats.key dasmoose- >> .bashrc"/>
            </div>
          </div>
        </div>


        <h5>Optionally, alias git</h5>

        <div class="row">
          <div class="twelve columns">
            <div class="six mobile-three columns">
                <input type="text" value="echo 'alias git=git-feats' >> .bashrc"/>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
