  <div class="row">

    <div class="three panel columns">
      <img src="http://placehold.it/500x500&text=Image">

      <h4>Header</h4>

      <p>Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p><hr>

      <div class="row">
        <div class="four columns">
        <a href="#" class="small button">Link</a>
        </div>

        <div class="four columns">
        <a href="#" class="small button">Link</a>
        </div>

        <div class="four columns">
        <a href="#" class="small button">Link</a>
        </div>
      </div>
    </div>

    <div class="nine columns">
      <div class="panel" >
        <div class="row">
          <%= render :partial => "maingraph" %>
        </div>
      </div>

      <div class="row">
        <div class="six columns">
          <div class="panel">
            <h5>Subheader</h5>
            <p>Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <a href="#" class="small button">Link</a>
          </div>
        </div>

        <div class="six columns">
          <div class="panel">
            <h5>Subheader</h5>
            <p>Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <a href="#" class="small button">Link</a>
          </div>
        </div>
      </div>
    </div>

  </div>
