<dl class="tabs">
  <dd class="active"><a href="#feed">Feed</a></dd>
  <dd><a href="#feats">Feats</a></dd>
  <dd><a href="#gitStats">Git Stats</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="feedTab">Feed content.</li>
  <li id="featsTab">List of all completed feats.</li>
  <li id="gitStatsTab">List of all git stats.</li>
</ul>