<div class="row">    
  <div class="nine columns push-three">
    <% if check_user(@user.id) && !@user.authenticated %>  
      <%= render 'setup' %>
    <% else %>
      <%= render 'feeds' %>
    <% end %>
  </div>
    
    
  <div class="three columns pull-nine">
    <%= link_to image_tag(@user.gravatar_url(size: 300)),
      @user, class: "th" %>
    <h3><%= @user.nickname %></h3>
  </div>
</div>
