// Place all the styles related to the public_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header#homepage h1 { font-size: 72px; color: #fff; padding-top: 90px; padding-left: 5px; font-weight: normal;}
header#homepage h4 { padding-left: 7px;}
header#homepage img { padding-top: 120px;}

header#homepage { background: url("/assets/home_banner.png") center bottom no-repeat #2a353d; padding: 1px 0 30px; }

header#homepage a { margin-top: 80px; padding-left:60px; padding-right:60px;}

header#homepage .button { color: #000; background-color: #ec9222; border: #ec9222;}

header#homepage .button:hover { background-color: #c67720; }
