// Place all the styles related to the stats controller here

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}

div#top-users-tag.three.panel.columns {
  height: 582px;
}

div#top-users-tag.three.panel.columns h4, h5 {
  margin: 0px;  
}
