// Place all the styles related to the static_pages controller here

span.prog_text {
  float: right;
  margin-top: -44px;
}

#banner h1 { 
  font-size: 72px; 
  color: #fff; 
  padding-top: 90px; 
  font-weight: normal;
}

#banner h4 { 
  padding-left: 7px;
}
#banner img { 
  padding-top: 104px; 
  padding-left: 20px;
}

#banner { 
  background: url("/assets/home_banner.png") center bottom no-repeat #2a353d; 
  padding: 1px 5px 30px; 
  box-shadow: 0px 2px 2px #888888;

  // Hack to absorb the header padding
  // Only used on the static_pages#home view
  margin-top: -30px;
}

#banner a { 
  margin-top: 80px; 
  padding-left: 60px; 
  padding-right: 60px;
}

#banner div.seven.columns {
 padding-left: 0px;
}

#banner img { 
 padding-top: 104px; 
 padding-left: 13px;
}

#banner .button { 
  color: #000; 
  background-color: #ec9222; 
  border: #ec9222;
}

#banner .button:hover { 
  background-color: #c67720; 
}

#social-buttons {
  margin-top: 28px;
}

ul#social-buttons-list {
  list-style: none;
  padding-left: 30px;
}

ul#social-buttons-list li {
  display: inline-block;
}

#main-description {
  margin-top: 30px;
}

#get-involved {
  margin-top: 25px;
}

div.allFeats a div.panel:hover {
  border: solid 1px rgb(213, 208, 208);
}

section.search input{
  height: 25px;
  margin: 10px;
}

section.options ul.left li.divider {
  margin-left: 5px;
}

section.search ul.left li input {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.alert-box.alert {
  margin-top: -10px;
  margin-bottom: 30px;
}
