// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3#no-feat-notice {
  margin: 0 auto;
  width: 60%;
}

li#feats-tab a div.panel:hover{
  color: #e6e6e6;
  border: solid 1px rgb(213, 208, 208);
}

li#feed-tab a div.panel:hover {
  border: solid 1px rgb(213, 208, 208);
}

#feed-tab .subheader {
  margin-top: -5px;
}

#feed-tab .timestamp {
  margin-top: -10px;
}

#feed-tab .feed-text {

}
