// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3#no-feat-notice {
  margin: 0 auto;
  width: 60%;
}

li#featsTab a div.panel:hover{
  color: #e6e6e6;
  border: solid 1px rgb(213, 208, 208);
}

li#feedTab a div.panel:hover {
  border: solid 1px rgb(213, 208, 208);
}

#feedTab .subheader {
  margin-top: -5px;
}

#feedTab .timestamp {
  margin-top: -10px;
}

#feedTab img {
  margin-left: 24px;
}
