<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>&copy; Copyright no one at all. Go to town sweetheart.</p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><a href="http://git-scm.com/">Git Help</a></li>
          <li><a href="https://github.com/cknadler/gitfeats.com">Fork the Site</a></li>
          <li><a href="https://github.com/cknadler/git-feats">Fork the Gem</a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>
