%footer.row
  .twelve.columns
    %hr/
    .row
      .six.columns
        %p &copy; Copyright no one at all. Go to town sweetheart.
      .six.columns
        %ul.link-list.right
          %li
            %a{href: "http://git-scm.com"} Git Help
          %li
            %a{href: "https://github.com/cknadler/gitfeats.com"} Fork the Site
          %li
            %a{href: "https://github.com/cknadler/git-feats"} Fork the Gem
