<!-- Basic Needs -->
<nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="#">Title</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="left">
      <li><a href="#">Link</a></li>
    </ul>

    <ul class="right">
      <li><a href="#">Link</a></li>
    </ul>
  </section>
</nav>

<!-- Positioning the Top Bar -->
<div class="fixed contain-to-grid">
  <!-- <nav> goes here -->
</div>

<!-- Building the Nav -->
<section>
  <ul class="left">
    <li><a href="#">Link</a></li>

    <li class="has-dropdown">
      <a href="#">Link</a>

      <ul class="dropdown">
        <li><a href="#">Dropdown Link</a></li>
      </ul>

    </li>
  </ul>

  <ul class="right">
    <li class="active"><a href="#">Link</a></li>
  </ul>
</section>

<!-- Other elements for Top Bar -->
<li class="divider"></li>

<li class="search">
  <form class="collapse">
    <input type="text">
    <button type="submit" class="secondary radius button">Search</button>
  </form>
</li>

<li class="search">
  <form>
    <input type="search">
  </form>
</li>

<li class="has-button">
  <a class="small button" href="#">Button!</a>
</li>
