<!-- Basic Needs -->
<nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="#">GitFeats</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="right">
      <li><a href="#">Setup</a></li>
      <li class="has-dropdown">
        <a href="#">Feats</a>
        <ul class="dropdown">
          <li><a href="#">Show All</a></li>
        </ul>
      </li>
      <li class="has-button">
        <li> <%= link_to "login", login_path %> </li>
      </li>
    </ul>
  </section>
</nav>

<!-- Positioning the Top Bar -->
<div class="fixed contain-to-grid">
  <!-- <nav> goes here -->
</div>
